<a href="https://colab.research.google.com/github/icaseres/AlgoritmosGR/blob/main/icaseres_QuanconnectTutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

#icaseres
#Se crean dos cadenas y se concatenan
my_string1 = 'Hello'
my_string2 = "Ivan!"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect
Hello Ivan!

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

#icaseres
#Se crean una variable de tipo entero y se consulta que tipo de variable
my_int = 18998498.56
print(my_int)
print(type(my_int))

10
<class 'int'>
18998498.56
<class 'float'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
my_string = "98897798"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
my_string = "45454"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
print("Addition ", 10+80)
print("Subtraction ", 100-57)
print("Multiplication ", 4*4)
print("Division ", 100/5)
print('exponent', 5**3)

Addition  90
Subtraction  43
Multiplication  16
Division  20.0
exponent 125

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
print(3/6)
print(1.2/5)

0.5
0.24

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
my_list = ['Universidad', 'Ingenieria', 3,6,9.0]
print(my_list)

['Universidad', 'Ingenieria', 3, 6, 9.0]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
my_list = ['Universidad', 'Ingenieria','Sistemas', 3,6,9.0]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

6
Universidad
9.0

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'stop'
print(my_list)

['Quant', 'Connect', 'stop', 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[2:3])

[1]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
print(my_list[2:])

[1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
print(my_list[:2])

['Quant', 'Connect']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list = ['Hola', 'Ivan']
my_list.append('Adios!')
print(my_list)

['Hola', 'Ivan', 'Adios!']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [ ]:
my_list.remove('Hola')
print(my_list)

['Ivan', 'Adios!']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
my_tuple = ('Hola','mundo','xd')
print(my_tuple[1:])

('mundo', 'xd')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'IBM', 'F', 'AAPL', 'FB', 'GOOG'}

In [ ]:
stock_list = ['QQER','ASSA','ZXC','QQER','ZXC','HX','H','ASSA']
stock_set = set(stock_list)
print(stock_set)

{'H', 'HX', 'QQER', 'ASSA', 'ZXC'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
my_dic = {'ORAN':'ORANGE', 'WTPP':'Whatsapp', 'AEIOU':'Vowels'}
print(my_dic['WTPP'])
print(my_dic['ORAN'])

Whatsapp
ORANGE

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
my_dic['ORAN'] = 'ORANGE SWEET'
print(my_dic['ORAN'])

ORANGE SWEET

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
print(my_dic.keys())

dict_keys(['ORAN', 'WTPP', 'AEIOU'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
my_str = 'Hola mundo, Bienvenido'
print(my_str[11:])

 Bienvenido

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
print('Contar el numero de apariciones de a en la oracion'.count('a'))
print('La primera vez que z aparece en esta oracion'.find('z'))
print('Toda la o en esta oración ahora se convierte en n'.replace('o','n'))

6
13
Tnda la n en esta nración ahnra se cnnvierte en n

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
Time = '2021-10-18_12:50:02'
splited_list = Time.split('_')
time = splited_list[1]
date = splited_list[0]
print(date, time)
hour = time.split(':')[1]
print(hour)

2021-10-18 12:50:02
50

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
my_time = 'Hour:{}  , Minute:  {}'.format('10','50')
print(my_time)

Hour:10  , Minute:  50

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
print('cambiando de entero a flotante %f'%3)
print('%s sea %s'%('bienvenido','señor!'))

cambiando de entero a flotante 3.000000
bienvenido sea señor!

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [ ]:
print(1 == 3)
print(0 == 0)
print(1 != 7)
print(6 >= 5)
print(6 >= 8)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
print(4 > 2 and 10 > 1)
print(2 > 1 and 6 < 5) 
print(12 > 8 or 7 < 3)
print(9 < 8 and 1 < 0)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
print((7 > 2 or 1 < 8) and (9!=2 and 5>4) and not ( 6 < 4 or 2 < 8 and (9!=8 and 6>4)))
print(9 > 3 or 2 < 4 and (6!=2 and 6>2) and not ( 4 < 1 or 2 < 5 and (2!=7 and 9>1)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [ ]:
i = 4
if i == 4:
    print('i==4 is True')

i==4 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
p = 5 > 4
q = 7 > 9
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
i = 1
while i < 10:
    print(i)
    i += 2

1
3
5
7
9

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
for i in [0,1,2,3,4,5,6,7,8]:
    print(i)

0
1
2
3
4
5
6
7
8

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'V':
        break

AAPL
GOOG
IBM
FB
F
V

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'IBM':
        continue
    print(i)

AAPL
GOOG
FB
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
squares = []
for i in [0,1,2,3,4]:
    squares.append(i**3)
print(squares)

[0, 1, 8, 27, 64]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
list = [0,1,2,3,4,5]
squares = [x**1 for x in list]
print(squares)

[0, 1, 2, 3, 4, 5]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM','V', 'G','J']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM', 'V', 'G']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
print([(x, y) for x in [2,2,3] for y in [2,2,3] if x == y])
print([str(x)+' - '+str(y) for x in ['AAPL','GOOG','IBM','FB','F'] for y in ['F','V','G','GE','GOOG','IBM'] if x!=y])

[(2, 2), (2, 2), (2, 2), (2, 2), (3, 3)]
['AAPL - F', 'AAPL - V', 'AAPL - G', 'AAPL - GE', 'AAPL - GOOG', 'AAPL - IBM', 'GOOG - F', 'GOOG - V', 'GOOG - G', 'GOOG - GE', 'GOOG - IBM', 'IBM - F', 'IBM - V', 'IBM - G', 'IBM - GE', 'IBM - GOOG', 'FB - F', 'FB - V', 'FB - G', 'FB - GE', 'FB - GOOG', 'FB - IBM', 'F - V', 'F - G', 'F - GE', 'F - GOOG', 'F - IBM']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
def product(x,y):
    return x*y
print(product(4,15))
print(product(3,8))

60
24

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
def say_hi():
    print('buenas noches ')
say_hi()

buenas noches

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [ ]:
print(range(20))
print(range(2,15))
print(range(2,13,4))

range(0, 20)
range(2, 15)
range(2, 13, 4)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE','M']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 9
AAPL
GOOG
IBM
FB
F
V
G
GE
M

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [ ]:
print(list)
del list
list

[0, 1, 2, 3, 4, 5]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPLK','GOO','IBMM','FB','F','VB', 'G', 'GE']
list(map(len,tickers))

[5, 3, 4, 2, 1, 2, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPLK','GOO','IBMM','FB','F','VB', 'G', 'GE']
print(list(map(len,tickers)))

[5, 3, 4, 2, 1, 2, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list(map(lambda x: x**3, range(12)))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [ ]:
list(map(lambda x, y: x-y, [1,2,3,4,5,6],[5,4,3,2,1,0]))

[-4, -2, 0, 2, 4, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [ ]:
sorted([6,9,5,2,7,8,3,4,1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[0])

[('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71), ('MSFT', 69), ('WMT', 75.32)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[0],reverse = True)

[('WMT', 75.32), ('MSFT', 69), ('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[0])
print(price_list)

[('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71), ('MSFT', 69), ('WMT', 75.32)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open*2
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open*1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [ ]:
apple = stock('AAPL', 145.69, 147.09, 20109377)
google = stock('GOOG', 888.7, 921.7, 1161616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [ ]:
apple.ticker
google.print_return()
google.update(512.8,513.4)
google.print_return()

2.074265781478564
1.001170046801872

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
apple.ceo = 'steve jobs'
apple.ceo

'steve jobs'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
dir(google)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
class child(stock):
    def __init__(self,nombre):
        self.nombre = nombre

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [ ]:
nn = child('nn')
print(nn.nombre)
nn.update(210,204)
print(nn.open)
print(nn.close)
print(nn.print_return())

nn
210
204
0.9714285714285714
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
price_list = [156.73, 157.83, 152.68, 154.02, 152.5, 158.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[156.73 157.83 152.68 154.02 152.5  158.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
Ar = np.array([[1,3],[2,4],[5,6]])
print(Ar, type(Ar))

[[1 3]
 [2 4]
 [5 6]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [ ]:
print(Ar.shape)

(3, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [ ]:
print(Ar[0])
print(Ar[1])
print(Ar[2])

[1 3]
[2 4]
[5 6]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2 5]
the second column:  [3 4 6]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [ ]:
print(np.log(price_array))

[5.05452458 5.0615185  5.02834423 5.03708246 5.0271646  5.0665114 ]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

155.39666666666668
2.441138168059226
932.38
158.62

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [ ]:
price = [148.77, 198.98, 165.96, 146.54, 164.5, 181.62]
s = pd.Series(price)
s

0    148.77
1    198.98
2    165.96
3    146.54
4    164.50
5    181.62
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
s = pd.Series(price,index = ['6','7','8','9','10','11'])
s

6     148.77
7     198.98
8     165.96
9     146.54
10    164.50
11    181.62
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
s.index = [6,7,8,9,10,11]
s

6     148.77
7     198.98
8     165.96
9     146.54
10    164.50
11    181.62
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [ ]:
print(s[1:])
print(s[:-2])

7     198.98
8     165.96
9     146.54
10    164.50
11    181.62
dtype: float64
6    148.77
7    198.98
8    165.96
9    146.54
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
print(s[9])
s[9] = 1
print(s)

146.54
6     148.77
7     198.98
8     165.96
9       1.00
10    164.50
11    181.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [ ]:
s = pd.Series(price, name = 'Company Price list')
print(s)
print(s.name)

0    148.77
1    198.98
2    165.96
3    146.54
4    164.50
5    181.62
Name: Company Price list, dtype: float64
Company Price list

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [ ]:
print(s.describe())

count      6.000000
mean     167.728333
std       19.957746
min      146.540000
25%      152.702500
50%      165.230000
75%      177.705000
max      198.980000
Name: Company Price list, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
time_index = pd.date_range('2020-12-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
               '2020-12-05', '2020-12-06'],
              dtype='datetime64[ns]', freq='D')
2020-12-01    148.77
2020-12-02    198.98
2020-12-03    165.96
2020-12-04    146.54
2020-12-05    164.50
2020-12-06    181.62
Freq: D, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
142.62

In [ ]:
s.index = [6,7,8,9,10,11]
print(s)
print(s[11])

6     148.77
7     198.98
8     165.96
9     146.54
10    164.50
11    181.62
Name: Company Price list, dtype: float64
181.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [ ]:
print(s.iloc[1])

198.98

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [ ]:
s.index = time_index
print(s['2020-12-03'])

165.96

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
print(s['2020-12-03':'2020-12-05'])

2020-12-03    165.96
2020-12-04    146.54
2020-12-05    164.50
Freq: D, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [ ]:
print(s[s > np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2020-12-02    198.98
2020-12-06    181.62
dtype: float64
[2020-12-01    False
2020-12-02    False
2020-12-03    False
2020-12-04    False
2020-12-05    False
2020-12-06     True
Freq: D, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 6.0 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=dbc9a973fbb161ab2aa7e718fd5649edb91ffb7944764b37858b83f2ef82562d
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [ ]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 146.55, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.109, 'beta3Year': None, 'enterpriseToEbitda': 22.247, '52WeekChange': 0.24883604, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58701, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3047781, 'priceToBook': 37.75116, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2468024156160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.978153, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.801058, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 144.84, 'regularMarketOpen': 143.445, 'twoHundredDayAverage': 138.76833, 'trailingAnnualDividendYield': 0.005764982, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 146.84, 'navPrice': None, 'averageDailyVolume10Day': 68793633, 'regularMarketPreviousClose': 144.84, 'fiftyDayAverage': 146.59706, 'trailingAnnualDividendRate': 0.835, 'open': 143.445, 'toCurrency': None, 'averageVolume10days': 68793633, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 143.16, 'currency': 'USD', 'trailingPE': 28.690292, 'regularMarketVolume': 79797028, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2422500753408, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77415270, 'dayLow': 143.16, 'ask': 146.79, 'askSize': 1400, 'volume': 79797028, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 146.71, 'tradeable': False, 'dividendYield': 0.0061000003, 'bidSize': 900, 'dayHigh': 146.84, 'regularMarketPrice': 146.55, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655161  24.291437  23.514534  ...  270597600        0.0             0
2016-01-05  24.379047  24.402100  23.609061  ...  223164000        0.0             0
2016-01-06  23.182575  23.599844  23.023507  ...  273829600        0.0             0
2016-01-07  22.749168  23.083443  22.230465  ...  324377600        0.0             0
2016-01-08  22.719197  22.848296  22.306540  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898678  41.059112  40.630488  ...  132742000        0.0             0
2017-12-27  40.731050  40.893877  40.637663  ...   85992800        0.0             0
2017-12-28  40.946572  41.150109  40.822055  ...   65920800        0.0             0
2017-12-29  40.831637  40.848397  40.520346  ...  103999600        0.0             0

[503 rows x 7 columns]

In [ ]:
import yfinance as yf

nflx = yf.Ticker("NFLX")

# get stock info
print(nflx.info)

# get historical market data
nflx_table = nflx.history(start="2017-12-11",  end="2018-12-31")
nflx_table

{'zip': '95032', 'sector': 'Communication Services', 'fullTimeEmployees': 9400, 'longBusinessSummary': 'Netflix, Inc. provides entertainment services. It offers TV series, documentaries, and feature films across various genres and languages. The company provides members the ability to receive streaming content through a host of Internet-connected devices, including TVs, digital video players, television set-top boxes, and mobile devices. It also provides DVDs-by-mail membership services. The company has approximately 204 million paid members in 190 countries. Netflix, Inc. was founded in 1997 and is headquartered in Los Gatos, California.', 'city': 'Los Gatos', 'phone': '408-540-3700', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.netflix.com', 'maxAge': 1, 'address1': '100 Winchester Circle', 'industry': 'Entertainment', 'ebitdaMargins': 0.22517, 'profitMargins': 0.15921, 'grossMargins': 0.42290002, 'operatingCashflow': 1839593984, 'revenueGrowth': 0.194, 'operatingMargins': 0.22027999, 'ebitda': 6211297792, 'targetLowPrice': 340, 'recommendationKey': 'buy', 'grossProfits': 9719737000, 'freeCashflow': 14203352064, 'targetMedianPrice': 646.5, 'currentPrice': 637.97, 'earningsGrowth': 0.868, 'currentRatio': 1.226, 'returnOnAssets': 0.097200006, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 627.76, 'debtToEquity': 129.424, 'returnOnEquity': 0.37862998, 'targetHighPrice': 971, 'totalCash': 7777529856, 'totalDebt': 17943123968, 'totalRevenue': 27585138688, 'totalCashPerShare': 17.573, 'financialCurrency': 'USD', 'revenuePerShare': 62.334, 'quickRatio': 1.092, 'recommendationMean': 2.1, 'exchange': 'NMS', 'shortName': 'Netflix, Inc.', 'longName': 'Netflix, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'NFLX', 'messageBoardId': 'finmb_32012', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 10.449, 'beta3Year': None, 'enterpriseToEbitda': 46.406, '52WeekChange': 0.18384457, 'morningStarRiskRating': None, 'forwardEps': 12.88, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 442596000, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 31.324, 'sharesShort': 9185120, 'sharesPercentSharesOut': 0.0208, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.82074, 'netIncomeToCommon': 4391860224, 'trailingEps': 9.651, 'lastDividendValue': None, 'SandP52WeekChange': 0.3047781, 'priceToBook': 20.366812, 'heldPercentInsiders': 0.01528, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 2.42, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 436775752, 'beta': 0.713227, 'enterpriseValue': 288244170752, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1436918400, 'lastSplitFactor': '7:1', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.879, 'priceToSalesTrailing12Months': 10.236054, 'dateShortInterest': 1632960000, 'pegRatio': 1.31, 'ytdReturn': None, 'forwardPE': 49.53183, 'lastCapGain': None, 'shortPercentOfFloat': 0.0211, 'sharesShortPriorMonth': 10187662, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 628.29, 'regularMarketOpen': 632.1, 'twoHundredDayAverage': 538.56586, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 638.41, 'navPrice': None, 'averageDailyVolume10Day': 3094550, 'regularMarketPreviousClose': 628.29, 'fiftyDayAverage': 601.20056, 'trailingAnnualDividendRate': None, 'open': 632.1, 'toCurrency': None, 'averageVolume10days': 3094550, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 620.5901, 'currency': 'USD', 'trailingPE': 66.10403, 'regularMarketVolume': 4407973, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 282362970112, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 3514517, 'dayLow': 620.5901, 'ask': 637.83, 'askSize': 1800, 'volume': 4407973, 'fiftyTwoWeekHigh': 646.84, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 463.41, 'bid': 637.5, 'tradeable': False, 'dividendYield': None, 'bidSize': 900, 'dayHigh': 638.41, 'regularMarketPrice': 637.97, 'logo_url': 'https://logo.clearbit.com/netflix.com'}

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2017-12-11  187.850006  189.419998  ...          0             0
2017-12-12  186.009995  187.850006  ...          0             0
2017-12-13  186.100006  188.690002  ...          0             0
2017-12-14  187.979996  192.639999  ...          0             0
2017-12-15  189.610001  191.429993  ...          0             0
...                ...         ...  ...        ...           ...
2018-12-21  263.829987  264.500000  ...          0             0
2018-12-24  242.000000  250.649994  ...          0             0
2018-12-26  233.919998  254.500000  ...          0             0
2018-12-27  250.110001  255.589996  ...          0             0
2018-12-28  257.940002  261.910004  ...          0             0

[264 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']

In [ ]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041647
                ...
2017-12-22    41.906776
2017-12-26    40.843605
2017-12-27    40.850777
2017-12-28    40.965729
2017-12-29    40.522739
Name: Close, Length: 251, dtype: float64

In [ ]:
nflx = nflx_table['Close']['2018']

In [ ]:
print(nflx)

Date
2018-01-02    201.070007
2018-01-03    205.050003
2018-01-04    205.630005
2018-01-05    209.990005
2018-01-08    212.050003
                 ...
2018-12-21    246.389999
2018-12-24    233.880005
2018-12-26    253.669998
2018-12-27    255.570007
2018-12-28    256.079987
Name: Close, Length: 250, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889835
2017-03-03    33.083923
2017-03-06    32.979782
2017-03-07    33.022385
2017-03-08    32.899311
2017-03-09    32.823563
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896935
2017-03-15    33.244869
2017-03-16    33.299301
2017-03-17    33.133617
2017-03-20    33.481544
2017-03-21    33.098118
2017-03-22    33.472088
2017-03-23    33.353733
2017-03-24    33.287472
2017-03-27    33.344276
2017-03-28    34.035397
2017-03-29    34.111134
2017-03-30    34.066162
2017-03-31    34.002262
Name: Close, dtype: float64

In [ ]:
print(nflx['2018-1'])

Date
2018-01-02    201.070007
2018-01-03    205.050003
2018-01-04    205.630005
2018-01-05    209.990005
2018-01-08    212.050003
2018-01-09    209.309998
2018-01-10    212.520004
2018-01-11    217.240005
2018-01-12    221.229996
2018-01-16    221.529999
2018-01-17    217.500000
2018-01-18    220.330002
2018-01-19    220.460007
2018-01-22    227.580002
2018-01-23    250.289993
2018-01-24    261.299988
2018-01-25    269.700012
2018-01-26    274.600006
2018-01-29    284.589996
2018-01-30    278.799988
2018-01-31    270.299988
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341724
2017-02-02    30.289885
2017-02-03    30.419495
2017-02-06    30.704643
2017-02-07    30.996866
                ...
2017-04-24    33.997528
2017-04-25    34.208183
2017-04-26    34.006985
2017-04-27    34.033020
2017-04-28    33.999882
Name: Close, Length: 61, dtype: float64

In [ ]:
nflx['2018-1':'2018-5']

Date
2018-01-02    201.070007
2018-01-03    205.050003
2018-01-04    205.630005
2018-01-05    209.990005
2018-01-08    212.050003
                 ...
2018-05-24    349.290009
2018-05-25    351.290009
2018-05-29    349.730011
2018-05-30    353.540009
2018-05-31    351.600006
Name: Close, Length: 104, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657742
2017-12-18    42.244400
2017-12-19    41.794224
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843605
2017-12-27    40.850777
2017-12-28    40.965729
2017-12-29    40.522739
Name: Close, dtype: float64

In [ ]:
print(nflx.head(6))
print(nflx.tail(9))

Date
2018-01-02    201.070007
2018-01-03    205.050003
2018-01-04    205.630005
2018-01-05    209.990005
2018-01-08    212.050003
2018-01-09    209.309998
Name: Close, dtype: float64
Date
2018-12-17    262.799988
2018-12-18    270.940002
2018-12-19    266.769989
2018-12-20    260.579987
2018-12-21    246.389999
2018-12-24    233.880005
2018-12-26    253.669998
2018-12-27    255.570007
2018-12-28    256.079987
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282220
2017-04-30    33.819262
2017-05-31    36.125682
2017-06-30    35.133984
2017-07-31    35.245243
2017-08-31    37.897227
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233916
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [ ]:
by_month = nflx.resample('M').mean()
print(by_month)

Date
2018-01-31    232.908096
2018-02-28    271.443683
2018-03-31    312.228097
2018-04-30    307.466192
2018-05-31    331.536819
2018-06-30    384.133336
2018-07-31    381.515238
2018-08-31    346.257824
2018-09-30    362.641576
2018-10-31    335.445652
2018-11-30    290.344764
2018-12-31    265.171665
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097735
2017-01-22    28.266118
2017-01-29    28.553981
2017-02-05    29.662542
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
by_week = nflx.resample('W').mean()
print(by_week.head())

Date
2018-01-07    205.435005
2018-01-14    214.470001
2018-01-21    219.955002
2018-01-28    256.694000
2018-02-04    273.237994
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739214
2017-02-28    32.451969
2017-03-31    34.111134
2017-04-30    34.264977
2017-05-31    37.099129
2017-06-30    36.944653
2017-07-31    36.471703
2017-08-31    39.129723
2017-09-30    39.141659
2017-10-31    40.332249
2017-11-30    42.050148
2017-12-31    42.244400
Freq: M, Name: Close, dtype: float64

In [ ]:
nflx.resample('M').max()

Date
2018-01-31    284.589996
2018-02-28    294.160004
2018-03-31    331.440002
2018-04-30    336.059998
2018-05-31    353.540009
2018-06-30    416.760010
2018-07-31    418.970001
2018-08-31    370.980011
2018-09-30    380.709991
2018-10-31    381.429993
2018-11-30    327.500000
2018-12-31    290.299988
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078177
2017-01-15    28.279667
                ...
2017-12-17    42.019312
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886703
2017-12-29    40.522739
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172572
2017-02-05    29.108261
2017-02-19    31.516816
2017-03-05    32.595559
2017-03-19    33.017884
2017-04-02    33.625219
2017-04-16    33.849728
2017-04-30    33.791843
2017-05-14    35.697630
2017-05-28    36.496177
2017-06-11    36.515006
2017-06-25    34.529046
2017-07-09    34.265136
2017-07-23    35.278871
2017-08-06    36.272778
2017-08-20    37.904118
2017-09-03    38.458792
2017-09-17    38.282710
2017-10-01    36.840874
2017-10-15    37.071594
2017-10-29    37.757320
2017-11-12    41.032239
2017-11-26    41.204375
2017-12-10    40.867068
2017-12-24    41.620864
2018-01-07    40.795712
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056853
2017-07-31    35.186964
2017-09-30    37.761186
2017-11-30    39.402612
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [ ]:
three_day = nflx.resample('3D').mean()
two_week = nflx.resample('2W').mean()
two_month = nflx.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2018-01-02    203.916672
2018-01-05    209.990005
2018-01-08    211.293335
2018-01-11    219.235001
2018-01-14    221.529999
                 ...
2018-12-16    266.869995
2018-12-19    257.913325
2018-12-22    233.880005
2018-12-25    254.620003
2018-12-28    256.079987
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2018-01-07    205.435005
2018-01-21    216.907779
2018-02-04    264.965997
2018-02-18    262.511998
2018-03-04    287.916667
2018-03-18    320.809000
2018-04-01    306.362227
2018-04-15    294.829004
2018-04-29    319.604001
2018-05-13    321.040997
2018-05-27    334.099002
2018-06-10    359.092224
2018-06-24    392.873001
2018-07-08    395.161116
2018-07-22    394.292001
2018-08-05    349.953000
2018-08-19    339.000995
2018-09-02    354.795001
2018-09-16    356.324443
2018-09-30    368.326996
2018-10-14    354.198001
2018-10-28    330.084000
2018-11-11    307.408002
2018-11-25    278.888892
2018-12-09    277.693332
2018-12-23    266.023997
2019-01-06    249.799999
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2018-01-31    232.908096
2018-03-31    292.855500
2018-05-31    319.781397
2018-07-31    382.824287
2018-09-30    353.669522
2018-11-30    313.920228
2019-01-31    265.171665
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
std = nflx.resample('W').std()
max = nflx.resample('W').max()
min = nflx.resample('W').min()


print(std)
print(max)
print(min)

Date
2018-01-07     3.650912
2018-01-14     4.734315
2018-01-21     1.722721
2018-01-28    18.705833
2018-02-04     8.198849
2018-02-11     7.823874
2018-02-18    10.731894
2018-02-25     3.580484
2018-03-04     4.470874
2018-03-11     6.598886
2018-03-18     2.452486
2018-03-25     7.037798
2018-04-01    14.577930
2018-04-08     5.286212
2018-04-15     8.778991
2018-04-22    11.599477
2018-04-29     5.265818
2018-05-06     3.373923
2018-05-13     1.899553
2018-05-20     1.878978
2018-05-27     9.459204
2018-06-03     4.435057
2018-06-10     3.028999
2018-06-17    14.958050
2018-06-24    10.725743
2018-07-01     5.601999
2018-07-08     7.266560
2018-07-15     9.609503
2018-07-22    15.605659
2018-07-29     3.698737
2018-08-05     3.993799
2018-08-12     2.423031
2018-08-19    10.279479
2018-08-26    11.354357
2018-09-02     2.286398
2018-09-09     9.609460
2018-09-16     9.045879
2018-09-23     7.136804
2018-09-30     4.990817
2018-10-07    12.443822
2018-10-14    14.757872
2018-10-21    13.091156
2018-10-28    15.397390
2018-11-04    14.308977
2018-11-11     8.877089
2018-11-18     3.890801
2018-11-25     5.201586
2018-12-02    12.280414
2018-12-09    10.753786
2018-12-16     4.756814
2018-12-23     9.323825
2018-12-30    10.663870
Freq: W-SUN, Name: Close, dtype: float64
Date
2018-01-07    209.990005
2018-01-14    221.229996
2018-01-21    221.529999
2018-01-28    274.600006
2018-02-04    284.589996
2018-02-11    265.720001
2018-02-18    280.269989
2018-02-25    285.929993
2018-03-04    301.049988
2018-03-11    331.440002
2018-03-18    321.549988
2018-03-25    317.500000
2018-04-01    320.350006
2018-04-08    293.970001
2018-04-15    311.649994
2018-04-22    336.059998
2018-04-29    318.690002
2018-05-06    320.089996
2018-05-13    330.299988
2018-05-20    328.529999
2018-05-27    351.290009
2018-06-03    359.929993
2018-06-10    367.450012
2018-06-17    392.869995
2018-06-24    416.760010
2018-07-01    399.390015
2018-07-08    408.250000
2018-07-15    418.970001
2018-07-22    400.480011
2018-07-29    363.089996
2018-08-05    344.500000
2018-08-12    351.829987
2018-08-19    341.309998
2018-08-26    358.820007
2018-09-02    370.980011
2018-09-09    363.600006
2018-09-16    369.950012
2018-09-23    367.649994
2018-09-30    380.709991
2018-10-07    381.429993
2018-10-14    355.709991
2018-10-21    364.700012
2018-10-28    333.160004
2018-11-04    317.380005
2018-11-11    327.500000
2018-11-18    294.399994
2018-11-25    270.600006
2018-12-02    288.750000
2018-12-09    290.299988
2018-12-16    276.019989
2018-12-23    270.940002
2018-12-30    256.079987
Freq: W-SUN, Name: Close, dtype: float64
Date
2018-01-07    201.070007
2018-01-14    209.309998
2018-01-21    217.500000
2018-01-28    227.580002
2018-02-04    265.070007
2018-02-11    249.470001
2018-02-18    257.950012
2018-02-25    278.140015
2018-03-04    290.390015
2018-03-11    315.000000
2018-03-18    315.880005
2018-03-25    300.940002
2018-04-01    285.769989
2018-04-08    280.290009
2018-04-15    289.929993
2018-04-22    307.779999
2018-04-29    305.760010
2018-05-06    311.690002
2018-05-13    326.260010
2018-05-20    324.179993
2018-05-27    331.619995
2018-06-03    349.730011
2018-06-10    360.570007
2018-06-17    361.450012
2018-06-24    390.399994
2018-07-01    384.480011
2018-07-08    390.519989
2018-07-15    395.799988
2018-07-22    361.049988
2018-07-29    355.209991
2018-08-05    334.959991
2018-08-12    345.869995
2018-08-19    316.779999
2018-08-26    327.730011
2018-09-02    364.579987
2018-09-09    341.179993
2018-09-16    348.410004
2018-09-23    350.350006
2018-09-30    369.429993
2018-10-07    351.350006
2018-10-14    321.100006
2018-10-21    332.670013
2018-10-28    299.829987
2018-11-04    284.839996
2018-11-11    303.470001
2018-11-18    286.209991
2018-11-25    258.820007
2018-12-02    261.429993
2018-12-09    265.140015
2018-12-16    265.320007
2018-12-23    246.389999
2018-12-30    233.880005
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [ ]:
last_day = nflx.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2018-01-31    270.299988
2018-02-28    291.380005
2018-03-31    295.350006
2018-04-30    312.459991
2018-05-31    351.600006
2018-06-30    391.429993
2018-07-31    337.450012
2018-08-31    367.679993
2018-09-30    374.130005
2018-10-31    301.779999
2018-11-30    286.130005
2018-12-31    256.079987
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [ ]:
monthly_return = nflx.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2018-01-31    0.344308
2018-02-28    0.099257
2018-03-31    0.017080
2018-04-30    0.114774
2018-05-31    0.122247
2018-06-30    0.087517
2018-07-31   -0.152519
2018-08-31    0.086589
2018-09-30    0.028960
2018-10-31   -0.208819
2018-11-30   -0.098462
2018-12-31   -0.117878
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686331860727394
0.052258487776588924
0.09901841642506737

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026921141938629777
0.15212591187264005
0.3443078427759687

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2018-01-31          NaN
2018-02-28    21.080017
2018-03-31     3.970001
2018-04-30    17.109985
2018-05-31    39.140015
2018-06-30    39.829987
2018-07-31   -53.979980
2018-08-31    30.229980
2018-09-30     6.450012
2018-10-31   -72.350006
2018-11-30   -15.649994
2018-12-31   -30.050018
Freq: M, Name: Close, dtype: float64
Date
2018-01-31         NaN
2018-02-28    0.077987
2018-03-31    0.013625
2018-04-30    0.057931
2018-05-31    0.125264
2018-06-30    0.113282
2018-07-31   -0.137905
2018-08-31    0.089584
2018-09-30    0.017542
2018-10-31   -0.193382
2018-11-30   -0.051859
2018-12-31   -0.105022
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2018-01-31    0.000000
2018-02-28    0.077987
2018-03-31    0.013625
2018-04-30    0.057931
2018-05-31    0.125264
2018-06-30    0.113282
2018-07-31   -0.137905
2018-08-31    0.089584
2018-09-30    0.017542
2018-10-31   -0.193382
2018-11-30   -0.051859
2018-12-31   -0.105022
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2018-01-31    0.077987
2018-02-28    0.077987
2018-03-31    0.013625
2018-04-30    0.057931
2018-05-31    0.125264
2018-06-30    0.113282
2018-07-31   -0.137905
2018-08-31    0.089584
2018-09-30    0.017542
2018-10-31   -0.193382
2018-11-30   -0.051859
2018-12-31   -0.105022
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2018-02-28    0.077987
2018-03-31    0.013625
2018-04-30    0.057931
2018-05-31    0.125264
2018-06-30    0.113282
2018-07-31   -0.137905
2018-08-31    0.089584
2018-09-30    0.017542
2018-10-31   -0.193382
2018-11-30   -0.051859
2018-12-31   -0.105022
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [ ]:
import pandas as pd

dict = {'AAPL': [147.9, 141.01, 143.89, 147.65, 146.66],'GOOG':[884.4, 949.45, 900.67, 911.60, 936.00],
        'IBM':[144.78, 156.76, 125.63, 114.49, 135.50]}
data_index = pd.date_range('2021-05-14',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2021-05-14  147.90  884.40  144.78
2021-05-15  141.01  949.45  156.76
2021-05-16  143.89  900.67  125.63
2021-05-17  147.65  911.60  114.49
2021-05-18  146.66  936.00  135.50

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [ ]:
df = nflx_table
print(df.Close.tail(6))
print(df['Volume'].tail(7))

Date
2018-12-20    260.579987
2018-12-21    246.389999
2018-12-24    233.880005
2018-12-26    253.669998
2018-12-27    255.570007
2018-12-28    256.079987
Name: Close, dtype: float64
Date
2018-12-19    13788400
2018-12-20    16792900
2018-12-21    21397600
2018-12-24     9547600
2018-12-26    14402700
2018-12-27    12235200
2018-12-28    10992800
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450761  22.768308  22.402086  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773054  24.986412  24.768364  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300094  26.441492  25.986660  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [ ]:
nflx_2018 = df['2018']
nflx_month = nflx_2018.resample('M').agg(lambda x: x[-1])
print(nflx_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-31  281.940002  282.290009  ...          0             0
2018-02-28  293.100006  295.750000  ...          0             0
2018-03-31  287.000000  295.350006  ...          0             0
2018-04-30  311.070007  317.880005  ...          0             0
2018-05-31  353.799988  355.529999  ...          0             0
2018-06-30  399.190002  401.329987  ...          0             0
2018-07-31  331.510010  342.500000  ...          0             0
2018-08-31  370.660004  376.000000  ...          0             0
2018-09-30  379.239990  380.799988  ...          0             0
2018-10-31  297.769989  311.500000  ...          0             0
2018-11-30  288.000000  290.809998  ...          0             0
2018-12-31  257.940002  261.910004  ...          0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450761  22.768308  22.402086  22.411358
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [ ]:
nflx_bar = nflx_month[['Open', 'High', 'Low', 'Close']]
print(nflx_bar)

                  Open        High         Low       Close
Date
2018-01-31  281.940002  282.290009  269.579987  270.299988
2018-02-28  293.100006  295.750000  290.779999  291.380005
2018-03-31  287.000000  295.350006  275.899994  295.350006
2018-04-30  311.070007  317.880005  310.119995  312.459991
2018-05-31  353.799988  355.529999  350.209991  351.600006
2018-06-30  399.190002  401.329987  390.549988  391.429993
2018-07-31  331.510010  342.500000  328.000000  337.450012
2018-08-31  370.660004  376.000000  367.079987  367.679993
2018-09-30  379.239990  380.799988  373.730011  374.130005
2018-10-31  297.769989  311.500000  295.049988  301.779999
2018-11-30  288.000000  290.809998  283.059998  286.130005
2018-12-31  257.940002  261.910004  249.800003  256.079987

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [ ]:
print(nflx_month.loc['2018-02':'2018-07',['Open', 'High', 'Low', 'Close']])

                  Open        High         Low       Close
Date
2018-02-28  293.100006  295.750000  290.779999  291.380005
2018-03-31  287.000000  295.350006  275.899994  295.350006
2018-04-30  311.070007  317.880005  310.119995  312.459991
2018-05-31  353.799988  355.529999  350.209991  351.600006
2018-06-30  399.190002  401.329987  390.549988  391.429993
2018-07-31  331.510010  342.500000  328.000000  337.450012

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [ ]:
import numpy as np

above = nflx_bar[nflx_bar.Close > np.mean(nflx_bar.Close)]
print(above)

                  Open        High         Low       Close
Date
2018-05-31  353.799988  355.529999  350.209991  351.600006
2018-06-30  399.190002  401.329987  390.549988  391.429993
2018-07-31  331.510010  342.500000  328.000000  337.450012
2018-08-31  370.660004  376.000000  367.079987  367.679993
2018-09-30  379.239990  380.799988  373.730011  374.130005

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
nflx_bar['rate_return'] = nflx_bar.Close.pct_change()
print(nflx_bar)

                  Open        High         Low       Close  rate_return
Date
2018-01-31  281.940002  282.290009  269.579987  270.299988          NaN
2018-02-28  293.100006  295.750000  290.779999  291.380005     0.077987
2018-03-31  287.000000  295.350006  275.899994  295.350006     0.013625
2018-04-30  311.070007  317.880005  310.119995  312.459991     0.057931
2018-05-31  353.799988  355.529999  350.209991  351.600006     0.125264
2018-06-30  399.190002  401.329987  390.549988  391.429993     0.113282
2018-07-31  331.510010  342.500000  328.000000  337.450012    -0.137905
2018-08-31  370.660004  376.000000  367.079987  367.679993     0.089584
2018-09-30  379.239990  380.799988  373.730011  374.130005     0.017542
2018-10-31  297.769989  311.500000  295.049988  301.779999    -0.193382
2018-11-30  288.000000  290.809998  283.059998  286.130005    -0.051859
2018-12-31  257.940002  261.910004  249.800003  256.079987    -0.105022

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [ ]:
missing = nflx_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2018-01-31  False  False  False  False         True
2018-02-28  False  False  False  False        False
2018-03-31  False  False  False  False        False
2018-04-30  False  False  False  False        False
2018-05-31  False  False  False  False        False
2018-06-30  False  False  False  False        False
2018-07-31  False  False  False  False        False
2018-08-31  False  False  False  False        False
2018-09-30  False  False  False  False        False
2018-10-31  False  False  False  False        False
2018-11-30  False  False  False  False        False
2018-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2018-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [ ]:
drop = nflx_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = nflx_bar.fillna(0)
print(fill)

                  Open        High         Low       Close  rate_return
Date
2018-02-28  293.100006  295.750000  290.779999  291.380005     0.077987
2018-03-31  287.000000  295.350006  275.899994  295.350006     0.013625
2018-04-30  311.070007  317.880005  310.119995  312.459991     0.057931
2018-05-31  353.799988  355.529999  350.209991  351.600006     0.125264
2018-06-30  399.190002  401.329987  390.549988  391.429993     0.113282
2018-07-31  331.510010  342.500000  328.000000  337.450012    -0.137905
2018-08-31  370.660004  376.000000  367.079987  367.679993     0.089584
2018-09-30  379.239990  380.799988  373.730011  374.130005     0.017542
2018-10-31  297.769989  311.500000  295.049988  301.779999    -0.193382
2018-11-30  288.000000  290.809998  283.059998  286.130005    -0.051859
2018-12-31  257.940002  261.910004  249.800003  256.079987    -0.105022

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2018-01-31  281.940002  282.290009  269.579987  270.299988     0.000000
2018-02-28  293.100006  295.750000  290.779999  291.380005     0.077987
2018-03-31  287.000000  295.350006  275.899994  295.350006     0.013625
2018-04-30  311.070007  317.880005  310.119995  312.459991     0.057931
2018-05-31  353.799988  355.529999  350.209991  351.600006     0.125264
2018-06-30  399.190002  401.329987  390.549988  391.429993     0.113282
2018-07-31  331.510010  342.500000  328.000000  337.450012    -0.137905
2018-08-31  370.660004  376.000000  367.079987  367.679993     0.089584
2018-09-30  379.239990  380.799988  373.730011  374.130005     0.017542
2018-10-31  297.769989  311.500000  295.049988  301.779999    -0.193382
2018-11-30  288.000000  290.809998  283.059998  286.130005    -0.051859
2018-12-31  257.940002  261.910004  249.800003  256.079987    -0.105022

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [ ]:
s1 = pd.Series([154.5, 187.09, 131.73, 126.18, 145.77,165.65], name = 'AAPL')
s2 = pd.Series([856.7, 945.71, 932.69, 902.59, 903.99,946.45], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  154.50  856.70
1  187.09  945.71
2  131.73  932.69
3  126.18  902.59
4  145.77  903.99
5  165.65  946.45

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [ ]:
log_price = np.log(nflx_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([nflx_bar, log_price], axis = 1)
print(concat)

Date
2018-01-31    5.599532
2018-02-28    5.674628
2018-03-31    5.688161
2018-04-30    5.744476
2018-05-31    5.862494
2018-06-30    5.969807
2018-07-31    5.821417
2018-08-31    5.907213
2018-09-30    5.924603
2018-10-31    5.709698
2018-11-30    5.656446
2018-12-31    5.545490
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  rate_return  log_price
Date                                ...
2018-01-31  281.940002  282.290009  ...          NaN   5.599532
2018-02-28  293.100006  295.750000  ...     0.077987   5.674628
2018-03-31  287.000000  295.350006  ...     0.013625   5.688161
2018-04-30  311.070007  317.880005  ...     0.057931   5.744476
2018-05-31  353.799988  355.529999  ...     0.125264   5.862494
2018-06-30  399.190002  401.329987  ...     0.113282   5.969807
2018-07-31  331.510010  342.500000  ...    -0.137905   5.821417
2018-08-31  370.660004  376.000000  ...     0.089584   5.907213
2018-09-30  379.239990  380.799988  ...     0.017542   5.924603
2018-10-31  297.769989  311.500000  ...    -0.193382   5.709698
2018-11-30  288.000000  290.809998  ...    -0.051859   5.656446
2018-12-31  257.940002  261.910004  ...    -0.105022   5.545490

[12 rows x 6 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [ ]:
df_volume = nflx_table.loc['2017-10':'2018-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2018 = nflx_table.loc['2017-10':'2018-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2018)

              Volume  Stock Splits
Date
2017-12-31   5187600             0
2018-01-31  11695100             0
2018-02-28   7653500             0
2018-03-31  19145500             0
2018-04-30   6088800             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2017-12-31  192.509995  193.949997  191.220001  191.960007
2018-01-31  281.940002  282.290009  269.579987  270.299988
2018-02-28  293.100006  295.750000  290.779999  291.380005
2018-03-31  287.000000  295.350006  275.899994  295.350006
2018-04-30  311.070007  317.880005  310.119995  312.459991

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300094  26.441492  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [ ]:
concat = pd.concat([nflx_bar, df_volume], axis = 1)
print(concat)

                  Open        High  ...      Volume  Stock Splits
Date                                ...
2017-12-31         NaN         NaN  ...   5187600.0           0.0
2018-01-31  281.940002  282.290009  ...  11695100.0           0.0
2018-02-28  293.100006  295.750000  ...   7653500.0           0.0
2018-03-31  287.000000  295.350006  ...  19145500.0           0.0
2018-04-30  311.070007  317.880005  ...   6088800.0           0.0
2018-05-31  353.799988  355.529999  ...         NaN           NaN
2018-06-30  399.190002  401.329987  ...         NaN           NaN
2018-07-31  331.510010  342.500000  ...         NaN           NaN
2018-08-31  370.660004  376.000000  ...         NaN           NaN
2018-09-30  379.239990  380.799988  ...         NaN           NaN
2018-10-31  297.769989  311.500000  ...         NaN           NaN
2018-11-30  288.000000  290.809998  ...         NaN           NaN
2018-12-31  257.940002  261.910004  ...         NaN           NaN

[13 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300094  26.441492  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [ ]:
concat = pd.concat([nflx_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                  Open        High  ...    Volume  Stock Splits
Date                                ...
2018-01-31  281.940002  282.290009  ...  11695100             0
2018-02-28  293.100006  295.750000  ...   7653500             0
2018-03-31  287.000000  295.350006  ...  19145500             0
2018-04-30  311.070007  317.880005  ...   6088800             0

[4 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [ ]:
append = nflx_bar.append(df_2018)
print(append)

                  Open        High         Low       Close  rate_return
Date
2018-01-31  281.940002  282.290009  269.579987  270.299988          NaN
2018-02-28  293.100006  295.750000  290.779999  291.380005     0.077987
2018-03-31  287.000000  295.350006  275.899994  295.350006     0.013625
2018-04-30  311.070007  317.880005  310.119995  312.459991     0.057931
2018-05-31  353.799988  355.529999  350.209991  351.600006     0.125264
2018-06-30  399.190002  401.329987  390.549988  391.429993     0.113282
2018-07-31  331.510010  342.500000  328.000000  337.450012    -0.137905
2018-08-31  370.660004  376.000000  367.079987  367.679993     0.089584
2018-09-30  379.239990  380.799988  373.730011  374.130005     0.017542
2018-10-31  297.769989  311.500000  295.049988  301.779999    -0.193382
2018-11-30  288.000000  290.809998  283.059998  286.130005    -0.051859
2018-12-31  257.940002  261.910004  249.800003  256.079987    -0.105022
2017-12-31  192.509995  193.949997  191.220001  191.960007          NaN
2018-01-31  281.940002  282.290009  269.579987  270.299988          NaN
2018-02-28  293.100006  295.750000  290.779999  291.380005          NaN
2018-03-31  287.000000  295.350006  275.899994  295.350006          NaN
2018-04-30  311.070007  317.880005  310.119995  312.459991          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [ ]:
concat = pd.concat([nflx_bar, df_2018], axis = 0)
print(concat)

                  Open        High         Low       Close  rate_return
Date
2018-01-31  281.940002  282.290009  269.579987  270.299988          NaN
2018-02-28  293.100006  295.750000  290.779999  291.380005     0.077987
2018-03-31  287.000000  295.350006  275.899994  295.350006     0.013625
2018-04-30  311.070007  317.880005  310.119995  312.459991     0.057931
2018-05-31  353.799988  355.529999  350.209991  351.600006     0.125264
2018-06-30  399.190002  401.329987  390.549988  391.429993     0.113282
2018-07-31  331.510010  342.500000  328.000000  337.450012    -0.137905
2018-08-31  370.660004  376.000000  367.079987  367.679993     0.089584
2018-09-30  379.239990  380.799988  373.730011  374.130005     0.017542
2018-10-31  297.769989  311.500000  295.049988  301.779999    -0.193382
2018-11-30  288.000000  290.809998  283.059998  286.130005    -0.051859
2018-12-31  257.940002  261.910004  249.800003  256.079987    -0.105022
2017-12-31  192.509995  193.949997  191.220001  191.960007          NaN
2018-01-31  281.940002  282.290009  269.579987  270.299988          NaN
2018-02-28  293.100006  295.750000  290.779999  291.380005          NaN
2018-03-31  287.000000  295.350006  275.899994  295.350006          NaN
2018-04-30  311.070007  317.880005  310.119995  312.459991          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441492  25.986660  26.045576          NaN  26.300094
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607243  28.425783  28.597816          NaN  28.550684
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [ ]:
df_2018.columns = ['Change', 'High','Low','Close']
concat = pd.concat([nflx_bar, df_2018], axis = 0)
print(concat)

                  Open        High  ...  rate_return      Change
Date                                ...
2018-01-31  281.940002  282.290009  ...          NaN         NaN
2018-02-28  293.100006  295.750000  ...     0.077987         NaN
2018-03-31  287.000000  295.350006  ...     0.013625         NaN
2018-04-30  311.070007  317.880005  ...     0.057931         NaN
2018-05-31  353.799988  355.529999  ...     0.125264         NaN
2018-06-30  399.190002  401.329987  ...     0.113282         NaN
2018-07-31  331.510010  342.500000  ...    -0.137905         NaN
2018-08-31  370.660004  376.000000  ...     0.089584         NaN
2018-09-30  379.239990  380.799988  ...     0.017542         NaN
2018-10-31  297.769989  311.500000  ...    -0.193382         NaN
2018-11-30  288.000000  290.809998  ...    -0.051859         NaN
2018-12-31  257.940002  261.910004  ...    -0.105022         NaN
2017-12-31         NaN  193.949997  ...          NaN  192.509995
2018-01-31         NaN  282.290009  ...          NaN  281.940002
2018-02-28         NaN  295.750000  ...          NaN  293.100006
2018-03-31         NaN  295.350006  ...          NaN  287.000000
2018-04-30         NaN  317.880005  ...          NaN  311.070007

[17 rows x 6 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.